<section class="section">
    <article class="article">
        <time datetime="2018-09-26">Miércoles 26 de septiembre, 2018</time>
        <hgroup>
            <h1>Título del artículo 1</h1>
            <h2>Subtítulo del artículo 1</h2>
        </hgroup>
        <p class="green"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat. <cit>Duis aute irure dolor in reprehenderit
                in voluptate velit esse</cit> cillum dolore<span> eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non</span>
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <footer>
            <p><button>Comentarios (0)</button></p>
            <p><button>Apoyo (0)</button></p>
        </footer>
    </article>
</section>