{%for reporte in reportes%}
<section class="section">
    <article class="article">
        <!--Fecha-->
        <time datetime="{{reporte[6]}}">{{reporte[6]}}</time>
        <!--Titulo, sala-->
        <hgroup>
            <h1>{{ reporte[2] }}</h1>
            <h2>Sala: {{ reporte[3] }}</h2>
        </hgroup>
        <!--Imagen-->
        {% if reporte[5] %}
        <img src="{{ url_for('static', filename='uploads/' ~ reporte[4]) }}" alt="Imagen del reporte">
        {% endif %}
        <!--Descripcion-->
        <p> {{reporte[4]}}</p>
        <footer>
            <!--Apoyo-->
            <p> <a href="{{url_for('routes.apoyar_reporte', id=reporte[0])}}"><button >Apoyo ({{reporte[7]}})</button></a></p>
        </footer>
    </article>
</section>
{%endfor%}