<link rel="stylesheet" href="{{ url_for('static', filename='LogIn-SingUp.css') }}?v=1.0">

{%include 'menu.html'%}
<div class="agrupar">
    <header class="header">
        <h1>Iniciar Sesión</h1>
    </header>
    <section class="section">
        <form action="/login" method="POST">
            <label for="email">Correo Electrónico (sin @usach.cl):</label>
            <input type="text" id="email" name="email" placeholder="@usach.cl" required>

            <label for="clave">Contraseña:</label>
            <input type="password" id="clave" name="clave" placeholder="Contraseña" required>

            <button type="submit">Iniciar Sesión</button>
        </form>
    </section>

    <footer class="pie">
        <p>¿No tienes cuenta? <a href="{{url_for('routes.register')}}">Regístrate aquí</a>.</p>
    </footer>
</div>