<link rel="stylesheet" href="{{ url_for('templates', filename='css/main.css') }}">
<header class="header">
    <h1>ReportEAO</h1>
</header>
<nav class="menu">
    <ul>
        <li><a href="/">Inicio</a></li>
        <li class="dropdown">
            <a href="#">Reporte &#x25BC;</a>
            <ul>
                <li><a href="/reports/view">Ver Reportes</a></li>
                <li><a href="/reports/create">Crear Reporte</a></li>
                <li><a href="/admin">Admin Panel</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#">Cuenta &#x25BC;</a>
            <ul>
                <li><a href="{{url_for('/login')}}">Iniciar Sesión</a></li>
                <li><a href="{{url_for('/registrar')}}">Registrarse</a></li>
                <li><a href="logout">Cerrar Sesión</a></li>
            </ul>
        </li>
        <li><a href="/help">Ayuda</a></li>
        <li><a href="/about">Acerca de</a></li>
    </ul>
    <hr>
</nav>